body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #27242e;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    background-color: #27242e;
    padding: 20px 0;
    z-index: 1;
    font-size: 2.5rem;
    font-weight: bolder;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #27242e;
    background-color: white;
    padding: 10px 0;
    font-size: 0.8rem;
    z-index: 1;
}

#game {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: #27242e;
    position: relative;
}

#playButton {
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    background-color: #4d4957;
    color: white;
    border: none;
    border-radius: 50px;
    transition: 0.5s;
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#playButton:hover {
    background-color: white;
    color: #4d4957;
    transition: 0.5s;
}

.cell {
    width: 90px;
    height: 90px;
    background-color: #27242e;
    position: absolute;
}

.cell.top-left {
    top: 0;
    left: 0;
}

.cell.top-center {
    top: 0;
    left: 105px;
}

.cell.top-right {
    top: 0;
    right: 0;
}

.cell.middle-left {
    top: 105px;
    left: 0;
}

.cell.middle-center {
    top: 105px;
    left: 105px;
}

.cell.middle-right {
    top: 105px;
    right: 0;
}

.cell.bottom-left {
    bottom: 0;
    left: 0;
}

.cell.bottom-center {
    bottom: 0;
    left: 105px;
}

.cell.bottom-right {
    bottom: 0;
    right: 0;
}

.cell div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.cell.taken div {
    cursor: not-allowed;
}

.selected div {
    animation: blink 1s infinite;
}

.blink-thrice {
    animation: blink-thrice 0.2s ease-in-out 3;
}

.X {
    color: #b5dcf7;
}

.O {
    color: #edc174;
}

@keyframes blink {
    50% {
        background-color: #4d4957;
    }
}

@keyframes blink-thrice {
    0%, 49.99% {
        background-color: #4d4957;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#resetButton {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #4d4957;
    color: white;
    border: none;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    transition: 0.3s;
    animation: fadeIn 0.3s ease-in-out forwards;
    opacity: 0;
}

#resetButton.show {
    opacity: 1;
}

#resetButton:hover {
    background-color: white;
    color: #4d4957;
    transition: 0.3s;
}

#backButton {
    position: fixed;
    top: -10px; /* Ajuste conforme necessário */
    left: -10px; /* Ajuste conforme necessário */
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50px;
    transition: 0.5s;
    z-index: 1;
}

#backButton:hover {
    color: #4d4957;
    transition: 0.5s;
}
